In [ ]:
# Human Languages

# Programming, Coding
# we are communicating with the copmputer
# Binary
01

programming languages
translators

compilers, Interpreters
into machine code

# Interpreted Langs., scripting
Python - Interpreter
Line by Line execution

In [ ]:
# Portable -It is not plateform specific
# Open Source 
# Compacts the code 

*
**
***
****

# for(i=0;i>5;i++){
#     for(j){
#     printf('*');
#     }
#     printf();
# }

In [ ]:
for i in range(1,5):print('*'*i)

In [ ]:
# Variable
# Container, memory location
# stores the value, data, information

bottle = 'water' 
# variable name = value ,Syntax
print(bottle)

In [ ]:
# define, declare
# ignores the whitespaces, comments
# Comments: after hash rest of the line willbe commented

a = 90 #defining a variable
a = 12
print(a)

In [ ]:
# Syntax : rules which we need to follow, format

In [ ]:
# print function, statement
a = b = 'polo'
var1, var2 = 20, 10
print(var2)

In [ ]:
#input()
data1 = input() #converts into str datatype
print(type(data1))

In [ ]:
# Datatypes
# int - integer : 1, 7687, 0, 89, -90
# float : 56.7, 34.5, 56.6 , 89.0
# str string : denoted with  " " even ' ' 
#     character, words, sentence, paragraphs,
#      multiline strings triple quotes 
# bool (boolean): True False
    
# Collections
# list - [1,2,3]
# tuple - (1,2,3)
# set -{1,2,3}
# dictionary(dict) - {key : value}, key value pairs

In [ ]:
var1 = '''Python is a high-level, interpreted, general-purpose
programming language. Its design philosophy emphasizes
ode readability with the use of significant indentation.
Python is dynamically-typed and garbage-collected.'''
print(var1)

In [ ]:
a = 90
b = 67
c = Z
print(c)

In [ ]:
# Operators
# who operates, who performs some task

# 1. Arithmetic Operators
+ : addition
- : substraction
*(asterisk) : mulitplication
/ : division
% : modulo
** : power
// : floor division

In [ ]:
# Addition
# operands
print(1+2)
# print(1+2.4)

In [ ]:
# Substraction
print(1-2.9)

In [ ]:
# Multiplication
print(2*7.3)

In [ ]:
# Division Operator - return type will be float 
print(14/11.2)

In [ ]:
# Modulo - return the reminder, return type will be integer
print(12%12)

In [ ]:
# power
print(2**3)
#Syntax: base**power

In [ ]:
# Floor division - returns the floor value
# floor, ceiling
# -9,-8...-1,0,1,2,3
# 1,1.1,1.2,1.999,2

print(5//2)

In [ ]:
# 2. Comparision Operators
>
<
>=
<=
==
!=

In [ ]:
# 1. > 
# print(3 > 1)

# 2. <
# print(1<2)

# 3. >=, greater than OR equals to
# a = 12
# print(a>=12)

# 4. <=, less than OR equals to
# print(12<=12)

# 5. ==, checks if both operands are equal (REMEMBER)
# by value
# print(12==11)

# 6. !=, checks if both operands are not equal
# print(1!=2)

In [ ]:
# 3. Assignment Operators
=
+=
-=
*=
%=
/=
**=
//=

In [ ]:
# 1. =
# left side(variable) = value Assigning a value
a = 0
print(a)

In [ ]:
# 2. +=
a = 1
a += 134
# a = a + 134 (Expansion)
# a = 135
print(a)

In [ ]:
# 3. -=
num = 90
num -= 23
# num = num - 23
print(num)

In [ ]:
# ## Keywords
# reserved words
# for , if , else, elif, class, True, False, None.. 
# guido van rossum
_a12 = 90
print(_a12)

In [ ]:
# naming convention
# Identifier valid , invalid
# 1. doesn't allow keywords
# 2. starts from either _ or alphabets(aavsjkYFGJHG)( first character)
# 3. it could contain _ , alphabets & numbers(rest of the characters)

In [ ]:
Youname = 89
youname = 78
print(youname)

In [ ]:
abc = 12
eric = 12
eric = 13
print(id(abc),id(eric))

In [ ]:
# it will print, it will move the cursor to the new line
print('Neem',end='') 
print('patel')
print('new line')

In [ ]:
# 4. *=
a = 90
a *= 4
# a = a * 4
print(a)

In [ ]:
# 5. /=
a = 15
a /= 5
print(a)

In [ ]:
# 6. **=
a = 3
b = 5
a **= b
# a = a ** b
print(a)

In [ ]:
# 7. %=
a = 12
b = 2
a %= b
print(a)

In [ ]:
# 8. //=
a = 10
b = 5
b //= a
print(a,b)

In [ ]:
# 3. Logical Operators
and : operands: either True or False
or 
# Syntax ( operand and operand )

not
# Syntax ( operand )

In [ ]:
a = True
b = True
print( a and b )

In [ ]:
print( 121>920 or 312<90 )

In [ ]:
print(not 16>7)

In [ ]:
# 4. Membership Operator
# p = 12
# b = 34

# 1. in
# Syntax : (member in group)

# 2. not in
# Syntax : (member not in group)
# checks if memeber is not in the group

In [ ]:
p = 'on'
print(p in 'python lang')

In [ ]:
# Identity Operators
is 
is not

In [ ]:
# is (identity (by reference))
# checks if both are same 
a = 10
b = 40
print( a is b )

In [ ]:
a = 10
b = 1 + 9
# print( a == b )
print(id(a))
print(id(b))

In [ ]:
list1 = [1,2,3,4]
list2 = list1[:]
# print(id(list1),id(list2))
print(list2 is list1)

In [ ]:

a = input()
print(type(a))

In [ ]:
print( 67 == 67.0001 )

In [ ]:
# Conditional Statements
# 1. if
# 2. if else
# 3. elif
# 4. nested if

In [ ]:
1. if
# block of code starts from the : sign
# Syntax:
# if condition:
# <indent>code
# block of code , suite

In [ ]:
    print('Ross')
    print('Rachel')
    print('joey')
    a = 10
    monica = 90

In [ ]:
# if a > 0:
#     clkjdc
#     kljmsd
#     kmcas        block of code is ending
# out of the if block
#     statement1

In [ ]:
# block of code will be executed only if that condition returns TRUE.
if 34 > 4:
    print('Ross')
    print('Rachel')
    print('joey')
    a = 10
    monica = 90

In [ ]:
# 2. if else - if's block of code will execute if the condition will be true,
# otherwise else's block of code will be executed.
a = -12
if a > 0:
    print(a,'is positive')
else:
    print(a, 'is negetive')

In [ ]:
var1 = int(input())
if var1 > 0:
    print(var1,'is positive')
else:
    print(var1, 'is negetive')

In [ ]:
# 3. elif : when if's condition returns False
# and at that situation we want to check another condition
# then we use elif
var1 = int(input())
if var1 > 0:
    print(var1,'is positive')
elif var1 < 0:
    print(var1, 'is negetive')
elif :
    print(var1, 'is Zero')

In [ ]:
#  elif ladder
if :
elif
elif
elif
elif

In [ ]:
# 4. Nested if - when if's condition returns True
# and at that situation we want to check another condition
# then we use nested if
a = -8
if a > 0: 
    if a > 5: 
        print("In between 1 to 5")
    else:
        print('inner else block')
else:
    print("outer else block")

In [ ]:
a = 34
print(a%=5)

In [ ]:
60 , 80 : pass
80 : dic
60 : fail

In [ ]:
marks = int(input())
if marks >= 80:
    print('Dic')
elif (marks<80 and marks>=60):
    print('pass')
else:
    print('Fail')

In [ ]:
marks=int(input("enter a marks"))
if marks >80:
    print("dic")
elif marks < 80 and  marks > 60:
    print("pass")
elif marks < 60 and marks > 0:
    print("fail")
else:
    print("not valid marks")

In [ ]:
# 91 - 100 : A1
# 81 - 90 : A2
# 71 - 80 : B1
# 61 - 70 : B2
# 51 - 60 : C1
# 36 - 50 : C2
# 35 - 0 : FAILED

In [ ]:
marks = int(input())
if marks <= 100:
    if marks <= 90:
        if marks <= 80:
            if marks <= 70:
                if marks <= 60:
                    if marks <= 50:
                        if marks < 36:
                            print('Fail')
                        else:
                            print('C2')
                    else:
                        print('C1')
                else:
                    print('B2')
            else:
                print('B1')
        else:
            print('A2')
    else:
        print('A1')

In [ ]:
constraint : 1 to 10
output:
True - prime number
False - not prime number

In [ ]:
ONLY divisable by itself and one

In [ ]:
number = int(input())
if number % 2 == 0:
    if number == 2:
        print('Prime')
    else:
        print('Not Prime')
elif number % 3 == 0:
    if number == 3:
        print('Prime')
    else:
        print('Not Prime')
else:
    print('Prime')
# elif number == 1:
#     print('')

In [ ]:
loops

same block of code we can use repeatatively

In [ ]:
number = int(input())
if number%2 != 0:
    if number%3 != 0:
        if number%5 != 0:
            print('Prime')
        else:
            print('Not Prime')
    else:
        print('Not Prime')
else:
    print('Not Prime')

In [ ]:
# Loops - same block of code we can use repeatatively
# for while

# 1. for
# Syntax:
for var_name in iterable:
    code(suite)
    
# Iterable - we can iterate over this
# i.e. string, list, set, dict, tuple
# one full execution - One Iteration
1,2,3,4,5
'89'

In [ ]:
for utah in 'Ross Geller': # i = ' '
#     print('Apple')
    print(utah,end='')

In [ ]:
list1 = [1,2,'point',[1,2,3],4,4] #items, elements
for r in list1: # r = '
    print(r)

In [ ]:
set1 = {1,'A',34,"34"} #unorderd
for something in set1:
    print(something)

In [ ]:
for t in (3,4,5):
    print(t)

In [ ]:
dict1 = {'A':89, 'B':56, 'C':90, 'A':90}
for d in dict1: #d = 'A'
    print(d)

In [ ]:
# *
# **
# ***
# ****

In [ ]:
r:(1,2,3,4)
c:(0,1,2,3)
*
**
***
****

In [ ]:
range(5)

In [ ]:
for rows in range(1,5):#rows=3
    for space in range(6-rows):
        print(' ', end='')
    for columns in range(rows):#columns=1
        print('*',end='')
    print()

In [ ]:
   **
  *  *
 *    *
*      *
 *    *
  *  *
   **

In [ ]:
 * * *
*
*
*

In [ ]:
for s in range(11,-1,-3):#(11,8,5,2)
#     print('*'*s)
    print(s)

In [ ]:
# range()
# arguments at most 3, at least 1
# Syntax:
# range(start,stop,step)
# start & step opetional
# Default values: start = 0, step = 1
# stop is exclusive
# range(2,6)

In [ ]:
for i in range(-1,-10,-3):#-3,-1,1,3,5
    print(i)

In [ ]:
print('polo',1,2,3,sep='|')

In [ ]:
     *
    **
   ***
  ****
 *****

In [ ]:
for i in range(1,6):#i = 2
    print(' '*(6-1),'*'*)
#     print(2,3,sep='')

In [ ]:
     **
    ****
   ******
  ********
 **********
  ********
   ******
    ****
     **

In [ ]:
# While
# Syntax:
var define
while condition:
    code
    increament/decrement

In [ ]:
a = 15
while a > 10:
    print(a)
    a -= 1

In [ ]:
# Nested
# i(0,1,2,3,4)
# j(0,1,2,3,4)

for i in range(5): #i=2, Outer loop
    for j in range(5): #j=4,Inner loop
        for k in range(6):
            print(i,j,k)
    print('I-loop block of code')

In [ ]:
ABC
ACB
CAB
CBA
BAC
BCA

In [ ]:
3 5 4 6
3 5 6 4

In [ ]:
for i in '1243':
    
1
1
1
1
1
1

In [ ]:
# Control Statements
# 1. pass - It does nothing, it prevents the error
# 2. break - It will terminate the most inner loop right away
# 3. continue - It will stops the current iteration and
# continue from the next one.

In [ ]:
# 1. pass
for i in range(1,6):
    pass

In [ ]:
# 2. break
for i in 'point': #i = 'i'
    for j in 'PYTHON': #j = 'P'
        for k in '123': #k = '1'
            print(i, j, k)
            print('first line')
            break
            print('last line')
            
            
        print("j's area")
        break

In [ ]:
# 3. continue
for i in range(1,6):
    if i == 3:
        continue
    print(i)

In [ ]:
# String - Indexed, Ordered, Immutable Datatype
"A" , 'Vivek', "This is Python and we don't know logic",
"Vivek",
a = """he said, "Learn something new" and
something about computer science."""
print(a)

In [ ]:
var1 = 'he said, "Learn something new".'
# print(var1)

In [ ]:
# Indexing
var1 = 'Rachel'

#       012345
# Negetive Indexing
# right to left , starts from -1

# To access
var1[1]
# var1[3] = 'H' #RETURNS ERROR

In [ ]:
# String Slicing
str3 = 'Harry Styles'
# [start:stop:step]
str3[-7:-1] #reverses the string
# full string if start and stop, step are not given str1[::]

In [ ]:
str2 = 'Hermio\ne Granger.!@#$%%^&**()_+=/'
# for i in str2:
#     print(i)
print(str2)

In [ ]:
# Escape Characters
str3 = "he said, \\ A \"this is Python.\\ A \""
# print(str3)
# \n = newline
# \t = tab
# \b = backsPace
str4 = "he said \"sdfddf\".end of the str"
# len(d)
# print(str4)
print(str4)

In [ ]:
str4 = "he said\the str"
str4.expandtabs(2) #

In [ ]:
# raw strings
# rstring
str3 = r"he said,\n \\ A \"this is Python.\\ A \""
print(str3)

In [ ]:
str1 = 'HU'
str2 = "LU"
# '90' + 'op'
# 'point'*10

# var1 = 'haa'"skdjh"
# print(var1)

In [ ]:
# String Methods

str1 = 'polar Panel'
str1.capitalize() #it will convert first char of STRING into upper,
#rest of them will be lowercased

In [ ]:
str2 = 'thIS uis, an Apple a and b'
str2.title()

In [ ]:
str2 = 'APPL vEW'

str2.casefold() #It will convert(forcefully) all the string characters into lowercase
# str2.lower() #It will convert all the string characters into lowercase

In [ ]:
str2 = 'UIUX'
str2.endswith('UX') #where the string ends with given substring

In [ ]:
### Everythying in python is an Object
str2

In [ ]:
asd = 'polar'
asd.upper() #it will convert all characters of string into uppercase

In [ ]:
d1 = '1Byte Bit Bits'
d1.count('Bit') #counts the occurence of the given substring

In [ ]:
d1 = 'tiger\tanimal'
d1.expandtabs(5) #customize the tab size 
print(d1)

In [ ]:
### PEP 8 -(style guide) Python Enhancement Proposals
nihar_patel = 90
# camel case
studentSomeNihar = 9

# snake case
very_very_long_something_variable_name = 67

# pascal case
class ComputerMouseKey:

In [ ]:
str1 = 'kifestte festival'
str1.find('et') #returns index value of the very FIRST occurence (left to right)
# find returns -1 when substring is not found
# str1.index('ft')
# index raises an error when substring is not found
str1.rfind('find')
# str1.rindex('find')

In [ ]:
str1 = 'echo echo echo echo'
str1.find('echo',3,15)

In [ ]:
# String Formatting

str2 = 'There are {} Lions, and {} goat, and {} bears'
# {} - placeholders
var1 = 90
str2.format(var1,67,67)
# print(str2)

In [ ]:
# fstrings
name = 'Ravi'
f'Hello {90}!!'

In [ ]:
str1 = 'The Silent Patient'
# str1.rindex('t',9,17)
# find - left to right
# index - left to right
# rfind rindex - right to left

# Syntax:
# replace(the substring needs to be replaced, the replacement string)
# str1.replace(repl1,'good')

In [ ]:
# replace(the substring needs to be replaced, the replacement string)
# str1.replace(repl1,'good')

In [ ]:
str1 = 'polo7888'
# str1.isalnum() #every character should be alphanumeric
# str1.isalpha() #every character should be alphabets
#ascii 
# str1.isascii()
str1.isdecimal()

In [ ]:
str1 = 'MOUSE'
# str1.isdigit()
# str1.isnumeric()
# str1.isidentifier() #checks whether str is vailid iden. or not
# str1.islower() #every character should be lower case
# str1.isprintable() #every character should be printable
# str1.isspace() #every character should be space
# str1.istitle() #the string is title or not
# str1.isupper() #all characters should be uppercase

In [ ]:
str2 = '-'
# Syntax:
# seperator.join(iterable)
str2.join('HIGHEST')
list1 = ['j','e','f','f']
''.join(list1)

In [ ]:
str2 = 'c'
# str2.center(20,'-')
# str2.ljust(20,'L')
# str2.rjust(20,'J')
s = str2.zfill(4)

In [ ]:
for i in range(7):
    if i == 4:
        
        print('Nihar')
    else:
        print('Python')

In [ ]:
-----c-----
---c-b-c---
-c-b-a-b-c-
---c-b-c---
-----c-----

In [ ]:
11

In [ ]:
     *
    * *
   * A *
  * B C *
 * D E F *
* G H I J *
 * K L Z *
  * Z A *
   * P *
    * *
     *

In [ ]:
 *
* *
 *

In [ ]:
row_input = 10(diamond's rows)

In [ ]:
alphabets = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [ ]:
str1 = '     l     Alpacas       '
str1.strip() # from start and end of the string it will remove whitespaces
str1.lstrip()
str1.rstrip()

In [ ]:
str1 = 'The Golden FiInCh'
str1.swapcase() #it will swap the cases(upper to lower, lower to upper)

In [ ]:
str1 = 'Joker and King'
str1.partition('King') #exact 3 parts
s = str1.rpartition(' ')

In [ ]:
str1 = 'Joker and King and queen and playing cards and'
# str1.split('and',2)
# (seperator, maxsplit)

str1.rsplit('and', 2)

In [ ]:
str1 = 'Joker and King\n and queen and\n playing cards and'
str2 = """Joker and King
and queen and
playing cards and"""
str1.splitlines()

In [ ]:
str1 = 'goal'
str1.startswith('gol')

str1.

In [ ]:
num_of_lines = int(input()) #7
alp = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
idx = 0
for single_line in range(num_of_lines): #(0,1,2,3,4,5,6)
    str1 = ''
    if single_line <= num_of_lines // 2:
        for char in range(single_line+1): #(0,1,2,3,4,5)
            if char == 0 or char == single_line :
                str1 += '* '
            else:
                str1 += f'{alp[idx]} '
                if idx == 25:
                    idx = 0
                else:
                    idx += 1
        print((str1.strip()).center(num_of_lines+1))
    else:
        start = num_of_lines - single_line
        for char in range(start,0,-1): #(0,1,2,3,4,5)
            if char == 1 or char == start :
                str1 += '* '
            else:
                str1 += f'{alp[idx]} '
                if idx == 25:
                    idx = 0
                else:
                    idx += 1
        print((str1.strip()).center(num_of_lines+1))

In [ ]:
str1 = '123'
str1.center(10)

In [ ]:
str1 = input()
str2 = input()
middle = len(str1)//2
str1[:middle] + str2 + str1[middle:]

In [ ]:
occurence of subs in string
occuerence of WORD in a satence
count the no of characters in a string

In [ ]:
str1 = input()
substr = input()
str1.count(substr)

In [ ]:
str1 = 'this is python lang and it is easiest lang'
l1 = str1.split()
for word in l1:
    print(word,'-',str1.count(word))

In [ ]:
str1 = 'joker and ace and king'
print(str1.find(str1[-1]) + 1)
len(str1)

In [ ]:
str1 = input()
if len(str1) < 2:
    print('Empty string')
else:
    print(str1[:2] + str1[-2:])