In [ ]:
# List
# Ordered, Indexed, Mutable, Allow duplicates
ele = 1
s = input(4,5,56,6,8) #

# elements, items
l1 = [12,12, 4.5, 'lion',True,[3,4],(3,4,5),{5,6,7},{'l':90}]
str1 = 'opppo'
for i in l1:
    print(i)

In [ ]:
# Accessing the element
list1 = [3,[3,4]]
list1 = [5,6,['i','j','k'],87,8,9]
list1[2][1]

In [ ]:
[ 1, 2, 3
  3, 4, 5
  5, 6, 7 ]

In [ ]:
# list - Ordered, Indexed, Mutable, Allow duplicates
# tuple - Ordered, Indexed, Immutable, Allow duplicates
# set - Unordered, Mutable, Doesn't Allow duplicates

list1 = [2,34,4.5,3.4]
# list1.append('wholeelement')
# list1.extend('wholeelement')
# list1.insert(index,element)
# list1.pop(1) by index we can remove
# list1.remove('Aa') by element we can remove
# list1.reverse() # reverses the order of the list
list1.sort(reverse=True) #alphanumerically
list1

In [ ]:
t1 = (3,4,4,4,4,54,55)
# if there is only one ele in tuple
# we must put comma , at the end

In [ ]:
# tuple packing
# tuple unpacking

t1 = (4,5,4,4,4,34,34,4,56,56,67)
# t1.count(4)
t1.index(4,5,9) # it will find index

In [ ]:
# set- 
# Unordered, doesn't allow duplicates, mutable
# only immutable values can be exist in set
set1 = {2,5.6,True,'lion',(9,4.5)}

In [ ]:
set1 = {6,7,8}
# set1.add((5,6,45)) #adds as a single element
set1.update('kite') #adds as a individual single elements
#it needs an iterable
print(set1)

In [ ]:
set1 = {6,7,8}
set1.clear() #removes all the elements
print(set1)

In [ ]:
set1 = {6,7,8}
set1.copy() #copies the set

In [ ]:
A = {6,7,8}
B = {5,7,5,6}

A.difference(B) #A difference of B,(A - B)
# substraction
# print(A)

A.difference_update(B) #Inline change
print(A)

In [ ]:
A = {6,7,8}
B = {55,6}
# A.discard(7) #removes the element, doesnt raise an error
# A.remove(7) #removes the element, it will raise an error
print(A)

In [ ]:
A = {45,(6.7,),'a',89}
B = {55,6}
A.pop() #we do not know which element will be removed
print(A)

In [ ]:
B = {55,7,6}
A = {6,7,8}
# A.intersection(B)
A.intersection_update(B)
print(A)

In [ ]:
A = {6,'l',5.6,True}
B = {6,5.6}
# A.isdisjoint(B) #checks whether all(in both sides) the value are not common
# B.issubset(A)
B.issuperset(A)

In [ ]:
A = {66,7.7}
B = {9,0,66,77}
# A.union(B) # returns all the elements from both sides
# A.symmetric_difference(B)
A.symmetric_difference_update(B)
print(A)

In [ ]:
# a = 0
# 0, empty collection : False
set1 = [{}]
# len(set1)
if set1:
    print('ifblock')
else:
    print('elseblock')

In [ ]:
# Dictionary - Ordered, Doesn't allow duplicate(keys), Mutable
# keys will be unique
# items, elements = key and value pair
# as a key we can take immutable datatypes
# as a value you can take any datatypes

dict1 = {'a':34, 'b':20}

for i in dict1: #(only keys)
    print(i)

In [ ]:
#To access
dict1 = {'A':20, 'b':20, 'a':90} #value will be updated
# dict1['a']
print(len(dict1))

In [ ]:
d1 = {0:290, 2.3:2.0, 'string':'20', False:False, (4,5):[45,56], 'r':(5,6,7), 'o':{4,5,6}, 'ss':{'s':45}}
print(d1)

In [ ]:
dict1 = {'k':'value'}
dict1['ki']

In [ ]:
dict2 = {'g':89, 'k':90, 'i':23}
del dict2['k']
dict2

In [ ]:
dict2 = {'g':89, 'k':90, 'i':23}
dict2.clear() #removes all the elements
print(dict2)

In [ ]:
dict2 = {'g':89, 'k':90, 'i':23}
dict2.copy() #copies the whole dictionary
dict2.get('g') #gets the value of given key

In [ ]:
l = list(dict2.items()) # it will return key value pair as a tuple in list
print(l)
# for i in dict2.items():
#     print(i)

In [ ]:
dict2 = {'g':89, 'k':90, 'i':23}
keys = list(dict2.keys()) #it will return all the keys in list
values = list(dict2.values()) #it will return all the values in list

In [ ]:
for single_key in dict2.keys():
    print(dict2[single_key])

In [ ]:
dict2 = {'g':89, 'k':90, 'i':23}
dict2.pop('k') #removes the item and returns the value
dict2

In [ ]:
dict2 = {'g':89, 'k':90, 'i':23}
dict2.popitem() #removes the last item and returns that item in tuple
dict2

In [ ]:
Immutable : int, float, str, bool, tuple
Mutable : list, set, dict

In [ ]:
dict2 = {'g':89, 'k':90, 'i':23}
#Syntax: setdefalut(key,value)
# if value is not given then it will take None
dict2.setdefault('fig',89)
dict2 #updates the original dictionary

In [ ]:
dict2 = {'g':89, 'k':90, 'i':23}
#Syntax: setdefalut(iterable(keys),value)
# if the value is not given then it will take None

dict2.fromkeys([3,4,4],[3,4]) #returns the dictionary

In [ ]:
s1 = {34 : [4,False,6,{4,'geller',6,7,(5,7),565,(6.7,8,9,90)},[({4,('5',),6},
{3:45,'lopez':('python',67,'jojo'),7.8:7.8, 7.8:56})]], 'ace':78}
# len(s1)
for values in s1.values():
    print(values)

In [ ]:
x = '90'
if type(x) == str:
    print(x)

In [ ]:
list1 = [3.4, 3.4, {45:78}, 345, 'king', (5,5,6,7)]
# print(type(list1.append(45)))
pop # index
list1.sort(reverse=True)
list1.reverse()
tuple()
print()

In [ ]:
set1 = {'key':'value', 'key':'value', "key":"value", "key":"value"}

print(set1)

In [ ]:
set1 = {2,'fig',True,(34,56,False,1),(56,34,1,False),0,(1,False,56,34),False}

set1.intersection_update((34,56,False,1))
print(set1)

In [ ]:
# Function
# a block of code executes(run) whenever I want, how many times I want

# Types
# 1. Built-In
# 2. User defined
# 3. Anonymous

In [ ]:
# Syntax:
def function_name(parameters):
    code
function_name(arguments)

In [ ]:
# train : tumhara kaam kya hai
# bulana : activate/call
# waapis karna : return

In [ ]:
#Defining a function/training
def Rocky():
    kaam 
    return result
    
Rocky() #calling a function

In [ ]:
def summit(a,b): #parameter/ variables
    c = a + b
    return c

summit(4,5) #arguments/ values

# arguments : calling 
# parameters : defining
summit(45,67)
var1 = summit(0.78,78)
print(var1)

In [ ]:
def mindy(value1):
    sum1 = value1
    return sum1
    
    
mindy(34)
# print(sum1) #put on hold

In [5]:
def f1(a,b,c):
    return 45 + 6
f1(a= 89, c=90, b=34)

51

In [ ]:
def addition(a,b):
    c = a + b
    return None

print(addition(4,5))

In [ ]:
# kuch nahi
type(None)

In [ ]:
interger type: 23,45,0,-89,1,2
float type : 5.6, 44.5, 1.0009, -34.6
str type : 
bool : True False
    NoneType : None

In [ ]:
list1 = [5,6,7,7,None]
len(list1)

In [ ]:
list1 = [5,6,7,7,None]
for i in list1:
    if 7 == i:
        print('None is present')

In [ ]:
variable_name = value

In [ ]:
[], 0, None : falsy
if p:
    print('true hai yeh')
else:
    print('falsy hai yeh')

In [ ]:
False == False

In [ ]:
 print([5,6,7].append(67))

In [ ]:
int()
str()
float()
list()
tuple()
set()
dict()
print()
type()
len()
id()

In [ ]:
list1 = [23,4.5,44.5,56,67,78,89,890,890,8,-90,'lion',[5,6,76],89]
# filter(function, iterable)
def f1(x):
    if type(x) == int:
        return x
for i in filter(f1,list1):
    print(i)

In [ ]:
# map(function, iterable)
list1 = [2,3.4,'lion',(5,6)]
def f1(x):
    return x*2
list(map(str,list1))

In [ ]:
a = input()
a = a[1:-1]
l1 = a.split(',')
l2 = list(map(int,l1))
l2 = list(map(int, ( (input()[1:-1]).split(',') ) ))

In [ ]:
for (idx, ele) in enumerate([4,5,5,6,7],2):
    print(ele)

In [ ]:
#3. Anonymous Function(lambda function):
# where a function is expected
# who has no name
# lambda keyword
# MULTIPLE PARAMETERS BUT SINGLE EXPRESSION(returns something)
#Syntax:
# lambda parameters: expression

In [ ]:
list1 = [1.0,2,'3','4',5,'6,7',8,9,'10,23',4.5,-9.9,67,34,67]
list(filter(lambda x : (type(x) == str) or (type(x) == int) ,list1))

In [ ]:
#Recursion
list1 = [1.0,2,'3','4',5,'6,7',8,9,'10,23',4.5,-9.9,67,34,67]
for i in list1:
    print('list1')
    fg
    dfg
    dfg

In [ ]:
# If you do not understand this line's meaning read it again.

In [ ]:
def f1(a,b):
    c = a + b
    f1(c,c-1)
    return c
    
f1(3,4) #first time (7)

In [ ]:
def fact1(num):
    if num > 1:
        return num * fact1(num-1)
    else:
        return num
fact1(5)

In [ ]:
1: return 5 * (4 * [3 * {2 * fact1(1)}])____ #num = 5
2: return                 #num = 4

In [ ]:
#Types of arguments
1. Positional Argument
2. Keyword Argument
3. Arbitrary Argument
4. Arbitrary Keyword Argument
5. Default Parameter value

In [ ]:
# 1. Positional Argument
def f1(a,b):
    return b - a
    
f1(4,5)

In [ ]:
# 5. Default Parameter value
def f1(a,b=1): #default para value will be used in absence of an argument,
#                 else it will consider given argument
    return b - a
f1(4,14)

In [ ]:
# 2. Keyword Argument
def f1(a,b):
    return b - a
    
f1(b=4,a=5) #keyword argument

In [ ]:
# 3. Arbitrary Argument / *args

def f1(b,c=90,*args): #it takes rest of the positional arguments as a tuple
    return c

f1(43,45,56,7, 'king')

In [ ]:
# arbitrary keyword arg
# it takes rest of the keyword args in a dict
# prefix with **
# **kwargs
def f1(*a,**v):
    return v
f1(4,5,7,6,5,6, m= 90, k = 89, l=89)

In [ ]:
def f1(a,*b,d= 90,**r):
    return r
f1(12,'lion',(5,6,7),{5:7},45,r=900, t=90, d=780,e=45, y=7)

In [ ]:
# Namespace

In [ ]:
var1 = 'global' #globally defined
def fun1(a):
    global v
    v = 90 
    b = 'surat' #b will defined locally.
#     print(b)
    print(var1) #locally accessed

fun1(3)
print(v)
# b = 'maharashtra' #globally defined
# print(b)

In [ ]:
def f1():
    var1 = 'f1 ka local'
    
    def f2():
        nonlocal var2
        var2 = 'local'
        print(var2)
    f2()
    print(var2)
f1()
dsf


sad
s


df
d
f


ghjg



y
u
ygu

In [ ]:
var2 = 'global'
def f1():
    global var1
    var1 = 'local'
    
f1()
print(var1)

In [30]:
# print(23,34,4,5,545645,56)
# for (idx, ele) in enumerate('qwerty'):
#     print(ele)
# type()
# len('point')
# id(3)
# input()
# range()
# list(filter(lambda x: x.isupper(),['a', "A", 'f', 'E', 'O', 'd'] ))
# list(map(int, [2,3,4,5.34,34,45]))
# sorted((34,23,90,-12,34,0))
# 97 - 122
# 65 - 90
# ord('Z')
# chr(45)
# min([45,90,0,-90])
# max([45,90,0,-90])
# round(34.51)
# sum((34,54,234,3423,423,4))
# str1 = 'ASWD'
# eval('str1.isupper()')
# eval('3+5')

True

In [ ]:
a = 90
# garbage collector
# malloc()
# calloc()
id(a)

In [ ]:
# class A:
    def addition(*a):
        return sum(a)
addition()
addition(6,7,9,0,8,9,5,67,78,8,9,0,435)

In [ ]:
1.9 + "5" #maths
# 'gi' + 'gi' #concatenation
# [4,5] + [3,4]
# (4,5) + (2,3)
# {2,3,4} + {9,7,8}

In [ ]:

# list1 = (6.78,4,5,90)
list1 = 'False'
id('False'), id(list1)

In [ ]:
# a = 0 
# ++'kite'
# print(a)
list1

In [ ]:
id(a), id(90)

In [ ]:
i = 90
Tyson = 90

def Tyson():
    pass
Tyson =88
print(Tyson)

In [ ]:
# Modules & Packages & libraires & framework 
# Module : simple python file(.py) containing definations and statements
# Packages(dotted module) : collections modules and/or packages , __init__.py must be in it.


# __name__ : special varible of module
# by accessing directly it will have '__main__'
# by importing it will have module_name

import module_very_very_very_long_name as m
from package.module import var, funct  
from module import *

In [ ]:
print(24)

In [ ]:
# magic methods, dunder methods

In [ ]:
7 + 8

In [ ]:
map = 90
print(map)